.footer{
    margin-top: 15%;
    background-color: #0099E9;
    align-items: center;
    display: flex;
    justify-content: center;

}

.footertext{
    padding: 25px;
    background-color: #0099E9;
}
.footextt{
    margin-right: 260px;
    text-align: center;
    margin: 20px;

}
.footerName{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.redeslogo{
    display: flex;
    justify-content: space-evenly;
    margin: 6px;
}