.footer{
    margin-top: 15%;
    background-color: #0099E9;
    align-items: center;
    display: flex;
    justify-content: center;

}

.footertext{
    padding: 25px;
    text-align: center;
    background-color: #0099E9;
}

.redeslogo{
    display: flex;
    justify-content: space-evenly;
    margin: 6px;
}