*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @if $vista == desktop{
        @media only screen and (min-width:1024px){
            h1{font-size: $h1Desktop;}
        }
    } @else if $vista == mobile {
        @media only screen and (max-width: 996px){
            h1{font-size:$h1Mobile;
            font-family: 'Roboto', 'sans-serif', monospace;
            }
        }
    } @else {
        h1{font-size:1rem;}
    }
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: #00b8bc;
    border-radius: 10px;
}

body{
    background-color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
}

.btnCol {
    background-color: #00b8bc;
    border-color: #00b8bc;
    color: white;
    width: 250px;
}

.margintop {
    margin-top: 150px;
}