.tarjetascontainer2{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ContainerServicios{
    max-width: 100%;
}
.Containerservicio{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5%;
}

.imgs{
    height: 300px;
}

@media (min-width: 300px) and (max-width: 1500px) {
  img {
    width: 100%;
  }
}

  